* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
}

input[type="text"] {
  min-width: 0;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

html {
  background-color: #18191a;
  color: #e6e6e6;
}

main {
  padding: 0 16px;
}

main > section {
  margin: 16px 0;
}

/* HEADER */

.main-header {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

/* SEARCH BAR */

#search-bar {
  margin: 16px 0;
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 14px 16px;
  border-radius: 2px;
  font-size: 1.4rem;
  gap: 8px;
}

#search-bar:focus-within {
  outline: 1px solid white;
}

#search-bar .search {
  width: 0.9em;
  height: 0.9em;
  position: relative;
  cursor: pointer;
}

#search-bar input {
  flex: 1;
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
}

/* WEATHER INFO */

#weather-info {
  margin-top: 24px;
}

#weather-info .main {
  display: flex;
  gap: 16px;
  font-size: 1.2rem;
}

#weather-info .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#weather-info .weather-icon {
  width: 100px;
  height: 100px;
}

#weather-info .temperature {
  display: flex;
  font-size: 4rem;
  gap: 4px;
}

#weather-info .degrees {
  font-size: 0.6em;
  color: #888;
}

#weather-info .degrees .selected {
  color: #e6e6e6;
}

#weather-info .pipe-border {
  border-right: 1px solid;
  margin-right: 6px;
}

#weather-info .extra > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 16px;
  margin: 16px 0;
}

#weather-info .extra li {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 8px;
}

#weather-info .icon {
  width: 40px;
  grid-row: 1 / -1;
}

/* MAIN */

h2 {
  margin-bottom: 8px;
}
