* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
}

input[type="text"] {
  min-width: 0;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

html {
  background-color: #18191a;
  color: #e6e6e6;
}

main {
  padding: 0 16px;
}

main > section {
  margin: 16px 0;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.weather-icon.skeleton {
  border-radius: 100%;
}

span.skeleton {
  display: inline-block;
  width: 60px;
  height: 1rem;
}

.info span.skeleton {
  width: 80px;
  height: 1.2rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 30%);
  }

  100% {
    background-color: hsl(0, 0%, 45%);
  }
}

/* HEADER */

.main-header {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.main-header .logo-icon {
  width: 60px;
  height: 60px;
}

/* SEARCH BAR */

#search-bar {
  margin: 16px 0;
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 14px 16px;
  border-radius: 2px;
  font-size: 1.4rem;
  gap: 8px;
}

#search-bar:focus-within {
  outline: 1px solid white;
}

#search-bar input:disabled,
#search-bar input:disabled + .search,
#search-bar:has(:disabled) {
  cursor: wait;
}

#search-bar .search {
  width: 0.9em;
  height: 0.9em;
  position: relative;
  cursor: pointer;
}

#search-bar input {
  flex: 1;
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
}

#search-bar input:disabled {
  color: #a6a6a6;
}

/* WEATHER INFO */

#current-weather-display {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#current-weather-display .main {
  display: flex;
  gap: 16px;
  font-size: 1.2rem;
}

#current-weather-display .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#current-weather-display .weather-icon {
  width: 100px;
  height: 100px;
}

#current-weather-display .temperature {
  display: flex;
  font-size: 4rem;
  gap: 4px;
}

#current-weather-display .degrees {
  font-size: 0.6em;
  color: #888;
}

#current-weather-display .degrees :disabled {
  color: #606060;
  cursor: wait;
}

#current-weather-display .degrees .selected {
  color: #e6e6e6;
}

#current-weather-display .pipe-border {
  border-right: 1px solid;
  margin-right: 6px;
}

#current-weather-display .extra > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 16px;
  margin: 16px 0;
}

#current-weather-display .extra li {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 8px;
}

#current-weather-display .icon {
  width: 40px;
  height: 40px;
  grid-row: 1 / -1;
}

/* MAIN */

h2 {
  margin-bottom: 8px;
}

#hourly-weather,
#daily-weather {
  overflow: hidden;
}

.cards {
  display: flex;
  gap: 16px;
}

.cards > li {
  width: 140px;
  height: 240px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 16px 24px;
  border-radius: 4px;
}

.cards .time,
.cards .day {
  margin-top: 4px;
  margin-bottom: 12px;
}

.cards .weather-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
}

.cards .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cards .info > li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.cards .info .icon {
  width: 2rem;
  height: 2rem;
}

.cards .precipitation + .unit {
  font-size: 0.8em;
  margin-left: 2px;
}

.cards .low-temperature {
  margin-left: 4px;
  font-size: 0.7em;
}

/* FOOTER */

.main-footer {
  font-size: 1.1rem;
  margin: 16px;
  margin-bottom: 48px;
}

.main-footer section:not(:last-child) {
  margin-bottom: 4px;
}

.main-footer .logo {
  font-size: 1.1em;
}

.main-footer h3 {
  margin-top: 8px;
}

.main-footer .logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.main-footer .logo-icon {
  width: 1.2em;
  height: 1.2em;
}

.credits a {
  color: inherit;
  text-decoration: none;
}

.credits .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 2px;
  cursor: pointer;
}

.credits h4:not(:first-child) {
  margin-top: 8px;
}

/* DESKTOP */

@media screen and (min-width: 768px) {
  #current-weather-display .extra > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
